.mainc {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.picj {
    justify-content: space-between;
    display: flex;
}

.wolf {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    margin: 5%;
}

form {
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

header {
    margin: 30px;


    height: 70px;
    background-color: cadetblue;
}

.other {
    background-color: white;
    display: flex;
}

.try {
    display: flex;
    justify-content: center;
    align-items: center;
}

.w {
    background-color: azure;

}

main {
    background-color: azure;
    margin: 5%;
}

footer {
    display: flex;
    text-align: center;
    background-color: cadetblue;
}

.nav-link {
    color: black;
}

.top {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-left: 30%;
}